.main-card{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    width: 180px;
    height: 270px;
    background-color: #1d1c1c;
    border-radius: 10px;
}

.main-card:hover{
    border-radius: 10px;
    background-color: #342f2f;
    transition: all 1s;
}
.main-card:hover .play-button{
    display: flex;
    transition: all 0.2s;
}
.play-button{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 5.8rem;
    margin-top: -4.3rem;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1ed760;

}
.play-button:hover{
    background-color: #01ff5a;
    transform: translateY(-8px);
    opacity: 1;
}
.play-button i{
    font-size: 1.5em;
    color: #000000;
}
.img-container{
    margin: 1rem 1rem;
    width: 150px;
    height: 140px;
    border-radius: 10px;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.playlist-img{
    width: 150px;
    height: 140px;
}
.card-details{
    margin: 0 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.p-title{
    font-size: 1em;
    margin: 0 0.5rem;
    text-align: center;
}
.p-desc{
    text-align: center;
    margin: 0;
    font-weight: 600;
    font-size: 0.8em;
    color: #989898;
}
